{% extends 'base.html.twig' %}

{% block title %}Editer Catégorie{% endblock %}

{% block body %}
    <h1 class="text-center">Editer Catégorie</h1>

    <div class="container">

        <div class="d-grid gap-2">
            {{ include('category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}            
            <a class="btn btn-outline-primary" role="button" href="{{ path('category_index') }}">Retour à la liste</a>
            {{ include('category/_delete_form.html.twig') }}
        </div>

    </div>
{% endblock %}
