@import "~bootstrap/dist/css/bootstrap";

.pagination{
    justify-content: center;
}

.paginationMax {
    text-align: center;
}

/* Template custom basé sur Bootstrpap */

/* Navbar*/
#custom nav {
    margin-bottom: 2rem;
}
/* font logo */
#custom .navbar-brand {
    font-weight: bold !important;
    color: #C3B6F2 !important;
}
#custom .navbar-brand:hover {
    color: #FFFFFF !important;
    transition: .4s !important;
}
/*** Background color principal ***/
#custom .bg-primary {
    background-color: #464B59 !important;
}
/*** couleurs des liens ***/
#custom .nav-link {
    color: #C3B6F2 !important;
}
#custom .nav-link:hover {
    color: #FFFFFF !important;
    transition: .4s !important;
}
/*** Color dropdown menu ***/
#custom .dropdown-menu {
    background-color: #464B59 !important;
}
#custom .dropdown-item {
    background-color: #464B59 !important;
    color: #C3B6F2 !important;
}
#custom  .dropdown-item:hover {
    background-color: #C3B6F2 !important;
    color: #464B59 !important;
    transition: .4s !important;
}
