@import "~bootstrap/dist/css/bootstrap";

.pagination{
    justify-content: center;
}

.paginationMax {
    text-align: center;
}

/* Template custom basé sur Bootstrpap */

/* Navbar*/
nav {
    margin-bottom: 2rem;
}
/* font logo */
.navbar-brand {
    font-weight: bold !important;
    color: #C3B6F2 !important;
    transition: .4s !important;
}
.navbar-brand:hover {
    color: #FFFFFF !important;
}
/*** Background color principal ***/
.bg-primary {
    background-color: #2C3034 !important;
}
/*** couleurs des liens ***/
.nav-link {
    color: #C3B6F2 !important;
    transition: .4s !important;
}
.nav-link:hover {
    color: #FFFFFF !important;
}
/*** Color dropdown menu ***/
.dropdown-menu {
    background-color: #2C3034 !important;
}
.dropdown-item {
    background-color: #2C3034 !important;
    color: #C3B6F2 !important;
    transition: .4s !important;
}
.dropdown-item:hover {
    background-color: #C3B6F2 !important;
    color: #2C3034 !important;
}
/*** btn ***/
.btn-outline-primary {
    border: #C3B6F2 solid 1px !important;
    color: #C3B6F2 !important;
    transition: .4s !important;
}
.btn-outline-primary:hover {
    background-color: #C3B6F2 !important;
    color: #2C3034 !important;
}
.btn-primary {
    border: none !important;
    background-color: #C3B6F2 !important;
    color: #2C3034 !important;
    transition: .4s !important;
}
.btn-primary:hover {
    background-color: #2C3034 !important;
    color: #C3B6F2 !important;
}
/*** input ***/
input:focus, textarea:focus, .form-select:focus {
    box-shadow: 0 0 0 .25rem rgba(195,182,242,.70) !important;
    border: none !important;
}