{% extends 'base.html.twig' %}

{% block title %}Editer Article{% endblock %}

{% block body %}
    <h1 class="text-center">Editer Article</h1>

    <div class="container">

        <div class="d-grid gap-2">
            {{ include('article/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            <a class="btn btn-primary" role="button" href="{{ path('article_index') }}">Retour à la liste</a>
            {{ include('article/_delete_form.html.twig') }}
        </div>

    </div>
{% endblock %}
