{% extends 'base.html.twig' %}

{% block title %}Nouvel Article{% endblock %}

{% block body %}
    <h1 class="text-center">Créer un nouvel Article</h1>

    <div class="container">

        <div class="d-grid gap-2">
            {{ include('article/_form.html.twig') }}
            <a class="btn btn-outline-primary" role="button" href="{{ path('article_index') }}">Retour à la liste</a>
        </div>

    </div>
{% endblock %}
